**Packages**

In [1]:
import pandas as pd
from cassandra.cluster import Cluster

In [2]:
cluster1=Cluster()
session=cluster1.connect()

**Creating Session**

In [4]:
session.execute("CREATE KEYSPACE IF NOT EXISTS bd23 WITH REPLICATION = { 'class' : 'SimpleStrategy', 'replication_factor' :2 }")

In [20]:
session.execute("drop table bd23.inventory")

**Create Table**

In [21]:
session.execute("""
                 CREATE TABLE IF NOT EXISTS bd23.inventory 
                (
                 
                sku INT, 
                name TEXT, 
                description TEXT, 
                warehouse_num INT, 
                PRIMARY KEY(sku,name,warehouse_num)
                );      
              """)

In [23]:
idx = "CREATE INDEX wrh_index ON bd23.inventory(warehouse_num)"

In [24]:
session.execute(idx)

In [30]:
session.execute(f"""
INSERT INTO bd23.inventory (sku, name, description, warehouse_num)     
        VALUES (1,'sbk','spiral notebook',123);

                """)
session.execute(f"""
INSERT INTO bd23.inventory (sku, name, description, warehouse_num)     
        VALUES (2,'com','composition book',789);
         """)        
session.execute(f"""                
INSERT INTO bd23.inventory (sku, name, description, warehouse_num)     
        VALUES (3,'sbk','spiral notebook',456);
                 """)
session.execute(f"""
INSERT INTO bd23.inventory (sku, name, description, warehouse_num)     
        VALUES (4,'com','composition book',123);
                 """)
session.execute(f"""
INSERT INTO bd23.inventory (sku, name, description, warehouse_num)     
        VALUES (5,'skt','sketch book',123);
                 """)
session.execute(f"""
INSERT INTO bd23.inventory (sku, name, description, warehouse_num)     
        VALUES (1,'wdr','wide rule book',123);
                 """)

In [38]:
session.execute("select (sku, name, description) from bd23.inventory where warehouse_num=123;")